{% extends 'base.html' %}
{% block title %}List of Pets{% endblock %}
{% block content %}

<h1>Pets</h1>

<div class="row">
    {% for pet in pets %}
    <div class="col-4">
        <img class="img-thumbnail" src="{{pet.image_url()}}">
        <a href="/{{pet.id}}">{{pet.name}}</a>
        {% if pet.available %} 
        <b>is available!</b> 
        {% endif %}
    </div>
        {% else %}
    <div class="col-12">No pets yet.</div>
    {% endfor %}
  
</div>
<br>
<div>
    <a class="btn btn-info" href="/add">Add a Pet</a>
</div>

{% endblock %}